/*External CSS Syntax
		selector{property: value; property: value;}
		selector{	 
			property: value;
			property: value;
*/		}
/* Universal Selector - used to target all elements */
* {
	font-family:"Courier New", monospace;
	font-size: 20px;
	
}


/* Child Selector (>)
	used to select all elements are the children of a specified element
*/
ol > li {
	background-color: lightgreen;


h2	{
	color:blue;
	}
	
#zuitt-motto{
	letter-spacing: 5px;

}	

.offering-item{
	text-transform: uppercase;
}

#offering-1{
	color: #1f5678; 
}
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;


}

/* Adjacent Sibling Selector (+) used to select element that is directly after*/
h3 + img {
	height: 150px;
	width: 150px;
	size: 20%;
}
h3 p{
	color: blue;

}

#p1 {
	color: red;
}

/*
div + p {
	background-color: blue;
}
*/

/*General Sibling Selector (tilde)
	used to select all elements that are next siblings of a specified element
*/
section ~ p{
	background-color: none;
}

/* Child Selector (>)
	used to select all elements are the children of a specified element

div > p {
	background-color: yellow;
*/
/* Descendant Selector (whitespace)
	used to match all elements that are descendants of a specified element
*/

div p {
	background-color: yellow;

}

/* Multiple Selecter
	used to select multiple elements that is seperated by comma

	h3, p, ol, {
	background-color:yellow;
	
	}

*/
li {
border-style: solid;
}